*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background: white;
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  button, input,fieldset,select{
    background: none;
    border: 0px;
    outline: none;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color:#333;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  ::-webkit-scrollbar-thumb {
  background-color:rgb(152, 6, 110);background-color:rgb(152, 6, 110);
  outline: 1px solid slategrey;
  }