// ==================================================
// Variables
//
// 1. Colors
// 2. Media Queries
// 3. Z-Index
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

// ##### Paleta de cores primárias
$pcolor-violet: rgba(34, 13, 85, 1);
$pcolor-darkpurple:rgba(57, 20, 73, 1);
$pcolor-lightpurple:rgba(122, 54, 125, 1);
$pcolor-pink:rgb(152, 6, 110);
$pcolor-lightpink:rgb(255, 93, 209);

// ##### Paleta de cores secundárias
$scolor-darkblack:rgba(33, 33, 33, 1);
$scolor-darkgray:rgba(79, 79, 79, 1);
$scolor-lightgray:rgba(136, 138, 133,1);
$scolor-darkgold:rgba(157, 156, 122, 1);
$scolor-lightgold:rgba(224, 237, 197, 1);


// --------------------------------------------------
// 2. Media-queries
// --------------------------------------------------
