.quests{
  margin: 40px 0;
  .title_item{
    color: $scolor-darkgray;
    position: relative;
    @include fontSite(titles,1.6em,wbold);
    &:after{
      background: $scolor-darkgold;
      content: '';
      height: 4px;
      width: 30px;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }
}

.card-faq{
    border: 1px solid $scolor-darkgray;
    margin: 30px auto;
    padding: 0 20px 10px 20px;
    overflow: hidden;
    transition: max-height .3s ease-in;
    color: $scolor-darkgray;
    border-radius: 6px;
    position: relative;
    display: block;
    .card-head{
        padding: 20px 0 10px;
        display: block;
        color: $scolor-darkgray;
        @include fontSite(titles,1.3em,wsemibold);
        text-decoration: none;
        position: relative;
        cursor: pointer;
        background: white;
        z-index: 5;
        .card-resp{
            position: absolute;
            padding: 10px 0;
            @include fontSite(txt,1.1em,wlight);
            transition: all .2s ease-in;
            height: 0;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
        }

    }
    .openCard {
        
        .card-resp {
            height: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            display: block;
        }
        
    }
    

}

