.quests{
  margin: 40px 0;
  .title_item{
    color: $scolor-darkgray;
    position: relative;
    @include fontSite(titles,1.6em,wbold);
    &:after{
      background: $scolor-darkgold;
      content: '';
      height: 4px;
      width: 30px;
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }
}
.card-faq{
  border: 1px solid $scolor-darkgray;
  max-height: 80px;
  margin: 35px auto;
  padding: 10px 20px;
  overflow: hidden;
  transition: max-height .4s ease-in;
  &.active{
    max-height: 1200px;
    overflow: inherit;
    > .card-details{
      opacity: 1;
    }
  }
  > .card-head{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    > .title{
      color: $scolor-darkgray;
      @include fontSite(titles,1.6em,wregular);
    }
    > .btn-plus{
      border: 2px solid $scolor-darkgray;
      border-radius: 25px;
      padding: 0 10px;
      @include fontSite(titles,1.6em,wregular);
    }
  }
  > .card-details{
    opacity: 0;
    margin: 40px auto;
    transition: opacity .2s ease-out;
    transition-delay: .4s;
    > .text{
      color: $scolor-darkgray;
      @include fontSite(txt,1.2em,wlight);
    }
  }
}
.warn-quest{
  > .title{
    color: #999;
    @include fontSite(titles,2.6em,wregular);
    text-align: center;
  }
  > .btn{
    margin: 20px auto;
  }
}
.modal-faq{
  height: auto;
  padding: 16px;
  top: 18% !important;
}
.form-faq{
  > .title{color:$pcolor-lightpurple;padding:0 0 10px;@include fontSite(titles,1.2em,wregular);}
  > .form-field{
    margin: 10px 0;
    position: relative;
    > label{display: block;color:$pcolor-pink;margin:0;}
    > input{
      border: none;
      border-bottom: 1px solid #999;
      padding: 6px 0;
    }
    > .error{color: #ccc;position: absolute;top: 0;right: 0;display: none;}
    .message-faq{
      border: 1px solid #999;
      height: 160px;
      margin-top: 6px;
      resize: none;
      width: 100%;
    }
  }
}