.foo-login{
  background: linear-gradient(to right,rgba(152,6,110,.8) ,rgba(31,13,85,.8));
  background-position: center,center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.modal-login{
  background: white;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 0 auto;
  overflow: hidden;
  @media (min-width:780px){
    flex-wrap: nowrap;
  }
  > .modal-image{
    background: url(/images/backgrounds/masseur.jpg);
    background-size: cover; 
    height: 200px;
    padding: 40px;
    @media (min-width: 780px){
      height: auto;
      width: 40%;
    }
  }
  > .modal-form{
    padding: 40px 20px;
    width: 100% !important;
    @media (min-width: 780px){
      padding: 40px 60px;
      width: 60%;
    }
  }
  > .register-form{
    width: 80%;
    > .register-field:nth-child(4){display: block;width: 100%;}
  }
}
.modal-image{
  color: white;
  position: relative;
  @include fontSite(titles,1em,wregular);
  > .subtitle{
    position: absolute;
    bottom: 40px;
    left: 40px;
    @include fontSite(titles,1em,wregular);
  }
}
.modal-form{
  > .title{
    color: $scolor-darkgray;
    @include fontSite(titles,1.2em,wregular);
  }
  > .login-field , > .register-field{
    margin: 20px 0; 
    width: 100%;
    > .login-label{
      color: $pcolor-lightpurple;
    }
    > .login-input{
      border: 0;
      border-bottom: 1px solid $scolor-lightgray;
      padding: 5px 2px;
      &::placeholder{
        color: $scolor-lightgray;
      }
    }
  }
  > .register-field{
    display: inline-block;
    margin: 20px 10px;
    width: 220px;
  }
  .btn{
    margin: 40px auto;
    width: 220px;
    @media (min-width: 780px){
      width: 80%;
    }
    a{color: inherit;}
  }
  > .forgot-psw , > .do-account{
    color: $scolor-lightgray;
    display: block;
    margin: 12px auto;
    text-align: center;
  }
  > .do-account a{color: $pcolor-pink;}
}
.btn-back-login{
  border-color: white;
  color: white; 
  margin: 50px auto;
  width: 100px;
  & a{color: inherit;}
  &:hover{
    background: white;
    color: $pcolor-pink;
  }
}